<div class="row content-box">

  <div class="col-md-12">
    <div class="list-side-table">
      <table class="table table-hover">
        <thead>
          <th>S.N</th>
          <th>Employee <mat-icon>swap_vert</mat-icon>
          </th>
          <th>Leave Type <mat-icon>swap_vert</mat-icon>
          </th>
          <th>From Date <mat-icon>swap_vert</mat-icon>
          </th>
          <th>To Date <mat-icon>swap_vert</mat-icon>
          </th>
          <th>Status <mat-icon>swap_vert</mat-icon>
          </th>
          <th>Approved <mat-icon>swap_vert</mat-icon>
          </th>
          <th>Options</th>
        </thead>
        <tbody>
          <tr *ngFor="let leaverequest of leaveRequests; let i = index">
            <td>{{i+1}}</td>
            <td><a routerLink="/home/employees/details/{{leaverequest.employeeDTO.employeeId}}">
                {{leaverequest.employeeDTO.firstName}} {{leaverequest.employeeDTO.middleName}}
                {{leaverequest.employeeDTO.lastName}}
              </a></td>
            <td>{{leaverequest.leaveTypeDTO.typeName}}</td>
            <td>{{leaverequest.fromDate}}</td>
            <td>{{leaverequest.toDate}}</td>
            <td [ngClass]="(leaverequest.status=='PENDING')?'text-success':'text-danger'">{{leaverequest.status}}</td>
            <td><span *ngIf="leaverequest.reviewedBy">{{leaverequest.approved ? "SUCCESS" : "DENIED"}}</span></td>
            <td><a routerLink="/home/leaverequests/details/{{leaverequest.leaveId}}">
                <button mat-raised-button>View</button></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>