<div class="row content-box">
  <div class="col-md-12">

    <mat-progress-bar *ngIf="loading" mode="indeterminate" class="p-1"></mat-progress-bar>

    <table class="table table-hover">
      <thead>
        <th>S.N</th>
        <th (click)="sort('employee.firstName')">Employee <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('leaveType.typeName')">Leave Type <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('fromDate')">From Date <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('toDate')">To Date <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('status')">Status <mat-icon>swap_vert</mat-icon>
        </th>
        <th>Options</th>
      </thead>
      <tbody *ngIf="leaveRequests">
        <tr *ngFor="let leaverequest of leaveRequests | paginate: { itemsPerPage: size, currentPage: currentPage,  totalItems: totalElements }; let i = index">
          <td>{{i+1}}</td>
          <td><a routerLink="/home/employees/details/{{leaverequest.employeeDTO.employeeId}}">
              {{leaverequest.employeeDTO.firstName}} {{leaverequest.employeeDTO.middleName}}
              {{leaverequest.employeeDTO.lastName}}
            </a></td>
          <td>{{leaverequest.leaveTypeDTO.typeName}}</td>
          <td>{{leaverequest.fromDate}}</td>
          <td>{{leaverequest.toDate}}</td>
          <td [ngClass]="(leaverequest.status=='APPROVED')?'text-success':'text-danger'">{{leaverequest.status}}</td>
          <td><a routerLink="/home/leaverequests/details/{{leaverequest.leaveId}}">
              <button mat-raised-button>View</button></a></td>
        </tr>
      </tbody>
    </table>

    <div class="row col-md-12 mt-4">
      <div class="col-md-auto">
        <span *ngIf="leaveRequests" class="table-details">Showing {{(currentPage-1) * size +1}} to {{(currentPage-1) *
          size
          + numberOfElements }} of {{totalElements}}</span>
      </div>
      <div class="col">
        <pagination-controls class="float-right" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>

  </div>
</div>