<div class="row">

  <form #registerForm="ngForm" (ngSubmit)="createEmployee(registerForm)" class="mx-auto col-md-8 col-lg-6 offset-lg-3 form-box">

    <div *ngIf="!!create_employee_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{create_employee_msg}}</div>

    <h4 class="text-center mb-3"> Employee Registration </h4>

    <div class="form-group row">
      <label for="fullName" class="col-sm-2 col-form-label">FullName&nbsp;<span class="text-danger">* </span></label>
      <div class="col-sm-10">
        <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Full Name" ngModel
          autofocus minlength="2" required />
      </div>
    </div>

    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">Username&nbsp;<span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" ngModel
          autofocus minlength="2" required />
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password&nbsp;<span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" ngModel
          required />
      </div>
    </div>

    <div class="form-group row">
      <label for="supervisor" class="col-sm-2 col-form-label">Supervisor Employee&nbsp;<span class="text-danger">*
        </span></label>
      <div class="col-sm-10">
        <input type="text" id="supervisor" name="employeeSupervisor" class="form-control" placeholder="Employee Supervisor"
          ngModel autofocus minlength="2" required />
      </div>
    </div>
         
    <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Submit </button>

  </form>

</div>