<mat-toolbar color="primary" class="wrapper-toolbar custom-nav">
  <a class="navbar-brand text-white" routerLink="/home">Dashboard (Logo)</a>

  <button mat-flat-button color="primary">
    <a routerLink="/home/employees" routerLinkActive="active">Employee</a>
  </button>

  <button mat-flat-button color="primary">
    <a routerLink="/home/leaverequests" routerLinkActive="active">Leave Request</a>
  </button>

  <button mat-flat-button color="primary">
    <a routerLink="/home/leavetypes" routerLinkActive="active">Leave Type</a>
  </button>

  <span class="nav-middle-spacer"></span>

  <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">username
    <mat-icon>arrow_drop_down_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a routerLink="/home/profile" routerLinkActive="active">Profile</a>
    </button>
    <button mat-menu-item>
      <button mat-flat-button color="warn" (click)="_auth.logout()">Logout</button>
    </button>
  </mat-menu>

</mat-toolbar>