.custom-nav a {
    display: block;
    color: #fff;
    letter-spacing: 0.05em;
}
.custom-nav a.active {
    font-weight: 600;
    border-radius: 2px;
    color: #d4fff7;
}
.lg-link {
    font-size: 40px;
    text-decoration: underline;
}
.custom-nav a:hover {
    text-decoration: none;
}
.nav-middle-spacer {
    flex: 1 1 auto;
}
.img-logo{
    height: 60px;
    padding-top: 2%;
}