<div class="col-md-12 mt-4">

  <!-- Show Leave Request Details -->
  <div *ngIf="isLeaveRequestSelected">

    <!-- <div class="col-md-12">
      <div class="jumbotron">

      </div>
    </div> -->

    <div class="row col-md-12">
      <div class="col-md-12">
        <button class="btn btn-info float-right" (click)="toggleEdit()">
          {{isRequestEdit ? "View Request" : "Approve Request"}}
        </button>
      </div>
      <div class="col-md-4">
        <div class="profile-img text-center">
          <img src="assets/image/placehold450.png" class="leave-emp-profile-img" alt="profile image" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="profile-head">
          <h5><span class="font-weight-bold text-success">
              <a routerLink="/home/employees/details/{{selectedLeaveRequest.employeeDTO.employeeId}}">
                {{selectedLeaveRequest.employeeDTO.firstName}} {{selectedLeaveRequest.employeeDTO.middleName}}
                {{selectedLeaveRequest.employeeDTO.lastName}}</a>
            </span>
          </h5>
          <h6>{{selectedLeaveRequest.leaveTypeDTO.typeName}}</h6>
          <p>Submitted On : <span>{{selectedLeaveRequest.createdAt | date :'medium'}}</span></p>
        </div>

        <div mat-tab-nav-bar class="custom-tab">
          <a mat-tab-link class="nav-link active">Info</a>
        </div>

        <div class="row font-italic mt-3">
          <div class="col-md-6 border-right">
            <p>LeaveRequest Id: {{selectedLeaveRequest.leaveId}}</p>
            <p>Employee Name: {{selectedLeaveRequest.employeeDTO.firstName}}
              {{selectedLeaveRequest.employeeDTO.middleName}}
              {{selectedLeaveRequest.employeeDTO.lastName}}</p>
            <p>Reason : {{selectedLeaveRequest.leaveReason}}</p>
            <p>Leave Type: {{selectedLeaveRequest.leaveTypeDTO.typeName}}</p>
            <p>From: {{selectedLeaveRequest.fromDate}}</p>
            <p>To: {{selectedLeaveRequest.toDate}}</p>
            <p>Status: {{selectedLeaveRequest.status}}</p>
          </div>

          <div *ngIf="selectedLeaveRequest.reviewedBy && !isRequestEdit" class="col-md-6">
            <p>Reviewed By: <a routerLink="/home/employees/details/{{selectedLeaveRequest.reviewedBy.employeeId}}">
                {{selectedLeaveRequest.reviewedBy.firstName}} {{selectedLeaveRequest.reviewedBy.middleName}}
                {{selectedLeaveRequest.reviewedBy.lastName}}
              </a></p>
              <p>Request: {{selectedLeaveRequest.status}}</p>
            <p *ngIf="!selectedLeaveRequest.approved">Denied Reason: {{selectedLeaveRequest.deniedReason}}</p>
          </div>

          <div *ngIf="isRequestEdit" class="col-md-6">

            <form [formGroup]="requestApproveForm" (ngSubmit)="onSubmit()">

              <div *ngIf="!!approve_leave_update_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{approve_leave_update_msg}}</div>

              <h5 class="text-center text-info mb-4"> Approve Request </h5>
              <div class="form-group row">
                <label for="status" class="col-sm-3 col-form-label">Status &nbsp;<span class="text-danger">* </span></label>
                <div class="col-sm-9">
                  <mat-radio-group id="status" formControlName="status" class="custom-ngSelect" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                    <mat-radio-button value="APPROVED">APPROVED</mat-radio-button>
                    <mat-radio-button class="pl-2" value="DENIED">DENIED</mat-radio-button>
                  </mat-radio-group>
                  <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                    <div *ngIf="f.status.errors.required">Status is required</div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="deniedReason" class="col-sm-3 col-form-label">Reason&nbsp;</label>
                <div class="col-sm-9">
                  <input type="text" id="deniedReason" formControlName="deniedReason" class="form-control" class="form-control"
                    placeholder="Reason" />
                </div>
              </div>

              <button mat-raised-button color="primary" class="mt-3 btn-block" type="submit">Submit </button>

            </form>

          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Show Empty Details -->
  <div *ngIf="!isLeaveRequestSelected">
    <h4>{{selected_leave_msg}}</h4>
  </div>


</div>