<div class="row content-box">
  <div class="col-md-12">

    <mat-progress-bar *ngIf="loading" mode="indeterminate" class="p-1"></mat-progress-bar>

    <form (ngSubmit)="searchEmployee(searchForm)" #searchForm="ngForm" >

        <div class="row mb-2">
  
          <div class="form-group col-6">
            <div class="input-group">
              <input type="text" name="q" class="form-control col-4" ngModel placeholder="Search" />
              <div class="input-group-btn">
                <button class="col-2" type="submit" mat-raised-button>
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
          </div>
  
        </div>
  
      </form>
      
    <table class="table table-hover">
      <thead>
        <th>S.N </th>
        <th (click)="sort('firstName')">Name <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('phoneNumber')">Phone Number <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('email')">Email <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('supervisor.firstName')">Supervisor <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('role')">Role <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('status')">Status <mat-icon>swap_vert</mat-icon>
        </th>
        <th>Options</th>
      </thead>
      <tbody *ngIf="employees">
        <tr *ngFor="let employee of employees | paginate: { itemsPerPage: size, currentPage: currentPage,  totalItems: totalElements }; let i = index">
          <td>{{i+1}}</td>
          <td>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</td>
          <td>{{employee.phoneNumber > 0 ? employee.phoneNumber : ''}}</td>
          <td>{{employee.email}}</td>
          <td><a *ngIf="employee.supervisor" routerLink="/home/employees/details/{{employee.supervisor.employeeId}}">
              {{employee.supervisor.firstName}} {{employee.supervisor.middleName}} {{employee.supervisor.lastName}}
            </a></td>
          <td>{{employee.role}}</td>
          <td [ngClass]="(employee.status=='ACTIVE')?'text-success':'text-danger'">{{employee.status}}</td>
          <td><a routerLink="/home/employees/details/{{employee.employeeId}}">
              <button mat-raised-button>View</button>
            </a></td>
        </tr>
      </tbody>
    </table>

    <div class="row col-md-12 mt-4">
      <div class="col-md-auto">
        <span *ngIf="employees" class="table-details">Showing {{(currentPage-1) * size +1}} to {{(currentPage-1) * size
          + numberOfElements }} of {{totalElements}}</span>
      </div>
      <div class="col">
        <pagination-controls class="float-right" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>

  </div>
</div>